#contact{
  width: 100%;
  height: 500px;
  margin-top: 5em;
}

main{
  margin-top: 6em;
  margin-bottom: 6em;
}

.could{
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  font-size: 5rem;
  margin-left: 1em;
}

.could span{
  font-size: 0.6em;
}

#contact p {
  position: relative;
  display: block;
  margin: 2em 2em 2em 20em;
  color: #fff;
  max-width: 300px;
}

.email:before{
  content: 'Copiado';
  position: absolute;
  top: -50px;
  background-color: #0290a2;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  color: #BAD9C8;
  display: none;
}

.email.active:before{
  display: block;
}

.email{
  position: absolute;
  font-size: 2rem;
  color: #0290a2;
  background-color: #0e1212;
  bottom: 50px;
  margin-left: 270px;
  border: none;
}

.email:hover{
  color: #BAD9C8;
  transition: 0.8s;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.footer-links li{
  color: #0290a2;
  font-size: 1.5em;
  margin-right: 20px;
}

.footer-links li a{
  color: #0290a2;
  font-size: 1em;
}

.footer-links li a:hover{
  color: #BAD9C8;
  transition: 0.5s;
}

#created{
  color: #0290a2;
  font-size: 0.8em;
}

#created:hover{
  color: #BAD9C8;
  transition: 0.5s;
}
