<div id="contact">
  <main>
    <div class="could">
      <span>Podemos</span>
      <span>começar</span>
      <span>algo juntos?</span>
    </div>
      <p>Sinta-se à vontade para entrar em contato se você quer colaborar comigo, ou simplesmente conversar. <button (click)="copied();" class="email" id="btn-email" value="jeffchristian.devfrontend@gmail.com">jeffchristian.devfrontend@gmail.com</button> </p>
  </main>
  <footer>
    <ul class="footer-links">
      <li><a href="https://www.instagram.com/yojeffchristian/" target="_blank"><fa-icon [icon]="fainstagram"></fa-icon> Instagram</a></li>
      <li><a href="https://wa.me/5571992846228?text=Vamos+trocar+uma+id%C3%A9ia%2C+chama+o+dev" target="_blank"><fa-icon [icon]="fawhatsapp"></fa-icon> Whatsapp</a></li>
      <li><a href="https://t.me/JeeffChristian" target="_blank"><fa-icon [icon]="fatelegram"></fa-icon> Telegram</a></li>
      <li></li>
      <li><a id="created" href="https://github.com/Jeff-Christian">Criado por Jéff Christian</a></li>
    </ul>
  </footer>
</div>
