<header>
  <nav>
    <div class="nav-bar-box">
      <a href="#"><img src="assets\img\logo-j.christian.png" class="logo"  alt="logo page"></a>
      <div class="link-box">
        <ul>
          <li><a href="#sobre">.Sobre</a></li>
          <li><a href="#">.Portfolio</a></li>
          <li><a href="#contact">.Contato</a></li>
          <li><a href="https://github.com/Jeff-Christian" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
          <li><a href="https://www.linkedin.com/in/jeffersonchristians/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
