/* header */

header{
  margin-top: 1.5em;
}

.nav-bar-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-box{
  margin-right: 5em;
}

.link-box ul{
  display: flex;
  justify-content: space-around;
}

.link-box ul li{
  padding: 0.6em;
}

.link-box ul li a{
  color: #A60A53;
  font-size: 1.3em;
}

.link-box ul li a:hover{
  color: #BAD9C8;
}

.logo{
  width: 100px;
  margin-left: 5em;
}
