<main>
  <div class="bg-main container">
    <div class="apresentation">
      <h1 class="title">
        Yo, eu sou <span class="title-name">Jéfferson Christian</span>
      </h1>
      <p>Developer Front End || Freelancer</p>
      <h2 class="subtitle">
        Estudante de TI, apaixonado por Web e pelo mundo dos games, muita sede de conhecimento e capacitação, interajo por criações em alta performance e websites ricos e modernos.
      </h2>
      <div class="container-fluid">
        <a class="link-resume" href="src\assets\img\charge.png" download><button class="resume-btn">Curriculo <fa-icon [icon]="faDownload"></fa-icon> </button></a>
      </div>
    </div>
      <div class="container-fluid animation-image">
        <img src="assets\img\nakama.png" class="img-fluid" alt="...">
      </div>
  </div>
</main>
