.bg-main{
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
}

.apresentation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.title{
  font-size: 3em;
  color: #fff;
  margin-bottom: 0.4em;
}

.title span{
  color: #0290a2;
}

.title span:hover{
  color: #BAD9C8;
  transition: 0.5s;
}

.apresentation p{
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 1em;
}

.subtitle{
  max-width: 670px;
  color: #fff;
  font-size: 1.2em;
}

.animation-image img{
  width: 100%;
  margin-left: 9em;
}

/* make a water animation */
.water{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-bottom: 5em;
  position: absolute;
  bottom: 14px;
  right: 40px;
}

.content{
  position: relative;
}

.content span{
  width: 100%;
  height: 100px;
}

.content h2{
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 8em;
  padding: 1em 0em 1em 3em;
}

.content h2:nth-child(1){
  color: transparent;
}

.content h2:nth-child(2){
  background-color: #BAD9C8;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,100%{
    /* clip-path: polygon(0 44%, 15% 43%, 31% 46%, 47% 39%, 62% 40%, 72% 46%, 82% 52%, 91% 47%, 100% 43%, 100% 100%, 0 100%); */
    clip-path: polygon(7% 92%, 87% 93%, 100% 75%, 84% 63%, 60% 67%, 19% 65%, 0% 75%);
  }
  50%{
    /* clip-path: polygon(0 28%, 13% 38%, 26% 46%, 44% 41%, 62% 38%, 76% 42%, 89% 38%, 97% 42%, 100% 48%, 100% 100%, 0 100%); */
    clip-path: polygon(7% 92%, 87% 93%, 100% 75%, 83% 68%, 54% 70%, 30% 60%, 4% 71%);
  }

}


/* button */

.container-fluid{
  margin: 3em;
}

.link-resume{
  position: relative;
  padding: 15px 30px;
  border: 2px solid #0290a2;
  margin: 40px;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
}

.link-resume button{
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.link-resume button:hover{
  color: #0290a2;
}

.link-resume:hover{
  border: 2px solid #BAD9C8;
}

.link-resume:nth-child(2){
  filter: hue-rotate(80deg);
}

.link-resume::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #0290a2;
  box-shadow: 5px -8px 0 #0290a2, 5px -8px 0 #0290a2;
}

.link-resume:hover::before{
  background-color: #BAD9C8;
  box-shadow: 5px -8px 0 #BAD9C8, 5px -8px 0 #BAD9C8;
}
