.bg-main{
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
}

.apresentation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.title{
  font-size: 3em;
  color: #fff;
  margin-bottom: 0.4em;
}

.title span{
  color: #A60A53;
}

.title span:hover{
  color: #BAD9C8;
}

.apresentation p{
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 1em;
}

.subtitle{
  max-width: 670px;
  color: #fff;
  font-size: 1.2em;
}

.img-fluid{
  margin-left: 9em;
}

/* button */

.container-fluid{
  margin: 3em;
}

.link-resume{
  position: relative;
  padding: 15px 30px;
  border: 2px solid #A60A53;
  margin: 40px;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
}

.link-resume button{
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.link-resume button:hover{
  color: #A60A53;
}

.link-resume:hover{
  border: 2px solid #BAD9C8;
}

.link-resume:nth-child(2){
  filter: hue-rotate(80deg);
}

.link-resume::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #A60A53;
  box-shadow: 5px -8px 0 #A60A53, 5px -8px 0 #A60A53;
}

.link-resume:hover::before{
  background-color: #BAD9C8;
  box-shadow: 5px -8px 0 #BAD9C8, 5px -8px 0 #BAD9C8;
}
