<main>
  <div class="apresentation-box">
    <div class="img-apresentation">

    </div>
    <div class="apresentation">
      <h1 id="sobre">.Sobre</h1>
      <h2 class="description">Eu sou Jéfferson Christian, um developer front-end freelance - Brasileiro de 24 anos. Gosto muito de tecnologias e de resolver problemas com elas, sou inteligente, criativo e dedicado. Quando não estou trabalhando gosto de passar tempo com meus amigos em jogos (Moba, RPG's e outros...) ou estudando sobre novas tecnologias e designers.</h2>
    </div>
    <div class="experience">
      <h2>Experiências: </h2>
      <p> * Em busca da primeira experiência Dev</p>
    </div>
    <div class="languages">
      <h2>Idiomas: </h2>
      <div class="language-list">
        <span class="sgl">pt-BR</span> Português, fluente.
        <span class="sgl">en-US</span> Inglês, intermediário.
        <span class="sgl">es-ES</span> Espanhol, básico.
      </div>
    </div>
    <div class="interests">
      <h2>Tenho interesse em:</h2>
        <div class="interests-list">
          <p>UX/UI design</p>
          <p>Design e Motion Design</p>
        </div>
        <div class="interests-list">
          <p>Photoshop</p>
          <p>Illustrator</p>
        </div>
        <div class="interests-list">
          <p>WordPress</p>
        </div>
    </div>
  </div>
</main>
