<main>
  <div class="apresentation-container">
    <div class="card">
      <div class="content">
        <h2 id="sobre">.Perfil</h2>
        <p class="sobre">Eu sou Jéfferson Christian, um developer front-end freelance - Brasileiro de 24 anos. Gosto muito de tecnologias e de resolver problemas com elas, sou inteligente, criativo e dedicado. Quando não estou trabalhando gosto de passar tempo com meus amigos em jogos (Moba, RPG's e outros...) ou estudando sobre novas tecnologias e designers.</p>
        <button (click)="show($event)">Leia mais</button>
      </div>
      <img src="assets\img\perfil-bg.png" alt="">
    </div>

    <div class="card text-center nav-card" id="hidden">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <button name="experience" (click)="active($event)" class="btn-link nav-link active" aria-current="true" href="#">Experiências</button>
          </li>
          <li class="nav-item">
            <button name="languages"  (click)="active($event)" class="btn-link nav-link" href="#">Idiomas</button>
          </li>
          <li class="nav-item">
            <button name="interests"  (click)="active($event)" class="btn-link nav-link" href="#">Interesses</button>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <h5 class="card-title">Experiências:</h5>
        <p class="card-text">* Em busca da primeira experiência Dev</p>
        <button class="btn" (click)="hidden($event)">Fechar</button>
      </div>

      <!-- <div class="card-body">
        <h5 class="card-title">Idiomas:</h5>
        <span class="card-text">
          <p>pt-BR Português, fluente.</p>
          <p>Inglês, intermediário.</p>
          <p>Espanhol, básico.</p>
        </span>
        <button class="btn btn-primary" (click)="hidden($event)">Fechar</button>
      </div>

      <div class="card-body">
        <h5 class="card-title">Tenho interesse em:</h5>
        <span class="card-text">
          <p>UX/UI design</p>
          <p>Design e Motion Design</p>
          <p>Photoshop</p>
          <p>Illustrator</p>
          <p>WordPress</p>
        </span>
        <button class="btn btn-primary" (click)="hidden($event)">Fechar</button>
      </div> -->

    </div>
  </div>
</main>
