<section class="skills section container" id="skills">
  <h2 class="title">Skills <br> My technical level</h2>

  <div class="skills-container grid">
    <div>
      <!-- Skills 1 -->
      <div class="skills-content skills-open">
        <div class="skills-header">
          <div>
            <h1 class="skills-title">Frontend Developer</h1>
            <span class="skills-subtitle">Less than 1 years</span>
            <fa-icon class="skills-arrow" id="arrow" [icon]="faAngleDown" ></fa-icon>
          </div>
        </div>

        <div class="skills-list grid">
          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">HTML/CSS</h3>
             <span class="skills-number">90%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">SASS</h3>
             <span class="skills-number">30%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">BOOTSTRAP</h3>
             <span class="skills-number">60%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">JAVASCRIPT</h3>
             <span class="skills-number">50%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">ANGULAR</h3>
             <span class="skills-number">60%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
             <h3 class="skills-name">REACT - EM CONSTRUÇÃO</h3>
             <span class="skills-number">EM CONSTRUÇÃO</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

      <!-- Skills 2 -->
    <div>
      <div class="skills-content skills-close">
        <div class="skills-header">
          <div>
            <h1 class="skills-title">Frontend Design</h1>
            <span class="skills-subtitle">Less than 1 years</span>
            <fa-icon class="skills-arrow" [icon]="faAngleDown" ></fa-icon>
          </div>
        </div>

        <div class="skills-list grid">
          <div class="skills-data">
            <div class="skills-title">
              <h3 class="skills-name">UI/UX</h3>
              <span class="skills-number">30%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
              <h3 class="skills-name">FIGMA</h3>
              <span class="skills-number">40%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>

          <div class="skills-data">
            <div class="skills-title">
              <h3 class="skills-name">BLENDER - EM CONSTRUÇÃO</h3>
              <span class="skills-number">EM CONSTRUÇÃO</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
